<!DOCTYPE html>
<!-- saved from url=(0040)http://localhost:3000/productos/vigentes -->
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>Gestión de Taller Mecánico</title>
    <link href="/Content/reset.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Content/bootstrap.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Content/bootstrap-responsive.min.css" media="screen" rel="stylesheet" type="text/css">
    <link href="/Content/main.css" media="screen" rel="stylesheet" type="text/css">
</head>

<body>
   
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container-fluid">
                    <a class="brand" href="@Url.Action("Index", "Home")">Gestión de Taller Mecánico</a>
                    <!--
                        <div class="nav-collapse">
                            <ul class="nav">
                                <li><a href="@Url.Action("Index", "Automoviles")">Automoviles</a></li>
                                <li><a href="@Url.Action("Index", "Repuestos")">Repuestos</a></li>
                                <li><a href="@Url.Action("Index", "Marcas")">Marcas</a></li>
                            </ul>
                        </div>
                     -->
                </div>
            </div>
        </div>

                    <div class="container-fluid">
                        <div class="row-fluid">
                            <div class="span3">
                                <div class="well sidebar-nav">
                                    <ul class="nav nav-list">
                                        <li class="nav-header">Automoviles</li>
                                        <li><a href="@Url.Action("Create", "Automoviles")">Registrar Automoviles</a></li>
                                        <li><a href="@Url.Action("Index", "Automoviles")">Listar Automoviles</a></li>

                                    </ul>
                                </div>

                                <div class="well sidebar-nav">
                                    <ul class="nav nav-list">
                                        <li class="nav-header">Repuestos</li>
                                        <li><a href="@Url.Action("Create", "Repuestos")">Registrar Repuestos</a></li>
                                        <li><a href="@Url.Action("Index", "Repuestos")">Listar Repuestos</a></li>

                                    </ul>
                                </div>

                                <div class="well sidebar-nav">
                                    <ul class="nav nav-list">
                                        <li class="nav-header">Marcas</li>
                                        <li><a href="@Url.Action("Create", "Marcas")">Registrar Marcas</a></li>
                                        <li><a href="@Url.Action("Index", "Marcas")">Listar Marcas</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="span9">
                                @RenderBody()
                            </div>

                        </div>

                        <hr>
                        <footer>
                            <p></p>
                        </footer>
                    </div>

</body>
    </html>
