@model TallerMecanico.Models.Automovil

@Html.ValidationSummary()

<div class="span9">
    <div class="page-header">
        <h1>Editar Automovil</h1>
    </div>
 
    <form method="POST" class="producto form-horizontal" action="@Url.Action("Edit","Automoviles")">
        <input type="hidden" value="@Model.Id" name="MarcaId" />
        <fieldset>
            <div class="control-group">
                <label class="control-label">Patente:</label>
                <div class="controls">
                    <input class="input-xlarge" name="Patente" type="text" value="@Model.Patente">
                </div>
            </div>

            @*<div class="control-group">
                <label class="control-label">Marca:</label>
                <div class="controls" name="Id">
                    <select class="input-xlarge">
                        <option value="1"> </option>
                    </select>
                </div>
            </div>*@
            
            <div class="control-group">
                <label class="control-label">Modelo:</label>
                <div class="controls">
                    <input class="input-xlarge" name="Modelo" type="text" value="@Model.Modelo">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Color:</label>
                <div class="controls">
                    <input class="input-xlarge" name="Color" type="text" value="@Model.Color">
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Año:</label>
                <div class="controls">
                    <input class="input-xlarge" name="Anio" type="text" value="@Model.Anio">
                </div>
            </div>

            <div class="form-actions">
                <button type="submit" class="btn btn-primary">Actualizar</button>
            </div>
        </fieldset>
    </form>
</div>